@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("https://images.unsplash.com/photo-1576678927484-cc907957088c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.headerLinks>a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.500)
}

.headerLinks>a:hover {
    color: #335c67;
}

#headerLogo {
    width: 300px;
}

/* MAIN CONTAINER */

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    color: #e09f3e;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

#container {
    max-width: 768px;
    margin: 100px auto;
    position: relative;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

form {
    padding: 37.5px;
    margin: 10px 0;
}

h1 {
    color: #e09f3e;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.underline {
    border-bottom: solid 2px #e09f3e;
    margin: -0.512em auto;
    width: 150px;
}

.icon_wrapper {
    margin: 10px auto 0;
    width: 100%;
}

.icon-barbell {
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    color: #335c67;
}

.paragraph {
    margin: 0px 50px;
    text-align: center;
    color: whitesmoke;
}

.email {
    float: right;
    width: 45%;
}

input[type='text'],
[type='email'],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #e09f3e;
    color: #e09f3e;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

.availability {
    padding: 10px 0px;
    color: #e09f3e;
}

.goals {
    color: #e09f3e;
}

#message_input {
    padding-top: 10px;
}

textarea {
    line-height: 150%;
    height: 100px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #e09f3e;
}

:-moz-placeholder {
    color: #e09f3e;
    opacity: 1;
}

::-moz-placeholder {
    color: #e09f3e;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #e09f3e;
}

#form_button {
    background: none;
    border: solid 2px #e09f3e;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #e09f3e;
    color: #F2F3EB;
}

@media screen and (max-width: 768px) {
    #container {
        margin: 20px auto;
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .underline {
        width: 53px;
    }

    input[type='text'],
    [type='email'],
    select,
    textarea {
        font-size: 0.875em;
    }
}

/* FOOTER */
.footer-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    color: white;
    background-color: #540b0e;
}

/* GITHUB ICON */
.icon {
    color: whitesmoke;
}

.icon:hover {
    stroke: gold;
    transform: rotate(3.142rad);
    transition: 300ms;
}