@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');


body {
    color: whitesmoke;
    font-family: 'Rajdhani', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* HEADER */
.nav-link:hover {
    color: #e09f3e;
}

/* HOME PAGE */

/* MAIN SECTION */
#mainContainer {
    min-height: 800px;
}

#mainContainer>h1 {
    font-size: 5rem;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

#mainContainer>h1>span {
    color: #540b0e;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* STATEMENT SECTION */

/* WAVE DESIGN */
.wavyGang {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavyGang svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 101px;
}

.wavyGang .shape-fill {
    fill: #335C67;
}


/* CARD GROUP */
#cardContainer {
    width: 350px;
    padding: 40px 30px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.103);
}

#cardContainer>img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

#cardContainer>img:hover {
    transform: scale(1.05);
}

#glassContainer>h1 {
    color: #e09f3e;
}

/* GLASS CONTAINER */
#glassContainer {
    max-width: 800px;

    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

/* TRAINERS GALLERY */

/* Utilities */
.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,
            minmax(var(--auto-grid-min-size, 14rem), 1fr));
    grid-gap: var(--auto-grid-gap, 0);
    padding: 0;
}

.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

/* Composition */
.team {
    --flow-space: 2em;
}

/* Blocks */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    position: relative;
    padding: 1.5rem;
    color: whitesmoke;
    backface-visibility: hidden;
    text-decoration: none;
    overflow: hidden;
}

.profile::before,
.profile::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.profile::before {
    background: linear-gradient(to top,
            hsl(0 0% 0% / 0.79) 0%,
            hsl(0 0% 0% / 0.787) 7.8%,
            hsl(0 0% 0% / 0.779) 14.4%,
            hsl(0 0% 0% / 0.765) 20.2%,
            hsl(0 0% 0% / 0.744) 25.3%,
            hsl(0 0% 0% / 0.717) 29.9%,
            hsl(0 0% 0% / 0.683) 34.3%,
            hsl(0 0% 0% / 0.641) 38.7%,
            hsl(0 0% 0% / 0.592) 43.3%,
            hsl(0 0% 0% / 0.534) 48.4%,
            hsl(0 0% 0% / 0.468) 54.1%,
            hsl(0 0% 0% / 0.393) 60.6%,
            hsl(0 0% 0% / 0.31) 68.3%,
            hsl(0 0% 0% / 0.216) 77.3%,
            hsl(0 0% 0% / 0.113) 87.7%,
            hsl(0 0% 0% / 0) 100%);
    transition: 300ms opacity linear;
}

.profile::after {
    background: linear-gradient(45deg,
            hsla(193, 34%, 30%, 0.7) 0,
            hsl(5 97% 63% / 0) 100%);
    opacity: 0;
    transition: 300ms opacity linear;
}

.profile>* {
    z-index: 1;
}

.profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter 200ms ease, transform 250ms linear;
}

.profile h2,
.profile p {
    transform: translateY(2ex);
}

.profile h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
}

.profile p {
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0;
    transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.profile:focus {
    outline: 0.5rem solid white;
    outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
    transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
    opacity: 0.7;
}

.profile:hover p,
.profile:focus p {
    opacity: 1;
    transition-delay: 200ms;
    color: #e09f3e;
}

.profile:hover img,
.profile:focus img {
    filter: grayscale(0);
    transform: scale(1.05) rotate(1deg);
}


/* CONTACT */
.form-control {
    color: whitesmoke;
    border-color: #e09f3e;
}

.form-select {
    border-color: #e09f3e;
}

/* FOOTER */
/* GITHUB ICON */
.icon {
    color: whitesmoke;
}

.icon:hover {
    stroke: gold;
    transform: rotate(3.142rad);
    transition: 300ms;
}