@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Montserrat', Arial, sans-serif;
    background-image: url(../PHOTOS/DSC02984.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.headerLinks>a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.500)
}

.headerLinks>a:hover {
    color: #335c67;
}

#headerLogo {
    width: 300px;
}

/* MAIN SECTION */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

h1 {
    font-size: 5rem;
    color: whitesmoke;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

h1>span {
    color: #540b0e;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* STATEMENT SECTION */
.section-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    background-color: #335c67;
    height: 500px;
    padding-bottom: 100px;
}

.statement {
    max-width: 70%;
}

.statement>h2 {
    font-size: 40px;
    color: #E09F3E;
}

.statement>button {
    background-color: #e09f3e;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.statement>button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    opacity: 1
}

.custom-shape-divider-bottom-1675408729 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1675408729 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 133px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1675408729 .shape-fill {
    fill: #540b0e;
}

/* Detail Group */
.section-2 {
    position: relative;
}

.detail-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    padding-bottom: 100px;
    background-color: #540b0e;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 350px;
    padding: 30px 40px;
    color: whitesmoke;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.103);
}

.details>img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.details>img:hover {
    transform: scale(1.1);
}

.detail-button {
    background-color: #e09f3e;
    border: none;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.detail-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    opacity: 1
}

/* IMAGE GALLERY */
.section-3 {
    display: flex;
    justify-content: center;
}

.slider {
    width: 100%;
    max-width: 100vw;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

/* FOOTER */
.footer-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    color: white;
    background-color: #540b0e;
}

/* GITHUB ICON */
.icon {
    color: whitesmoke;
}

.icon:hover {
    stroke: gold;
    transform: rotate(3.142rad);
    transition: 300ms;
}